* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #d7d7d7;
  border-bottom: 3px solid #8f8f8f;
}

header h1 {
  font-family: Arial;
  font-size: 2.5rem;
  color: #2b2b2b;
}

.principal {
  margin-top: 25px;
  padding: 0 40px;
}

/* BUSQUEDA */
#search {
  border: 3px solid #8f8f8f;
  padding: 15px;
  border-radius: 25px;
  width: 430px;;
  box-sizing: border-box;
}
input[type="text"] {
  color: #2b2b2b;
  font: bold 1.3rem "Century Gothic";
  text-indent: 20px;
}
input[type="text"]::placeholder {
  color: #616161e2;
  font: bold 1.1rem "Century Gothic";
  text-indent: 20px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #00000074;
}


/* LOADER */

.centerItems {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  align-items: center;
}

#loader {
  display: none;
}

#loader.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 30px;
}

#loader.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loaderLoading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2b2b2b transparent transparent transparent;
}

#loader.loading div:nth-child(1) {
  animation-delay: -0.45s;
}

#loader.loading div:nth-child(2) {
  animation-delay: -0.3s;
}

#loader.loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loaderLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* USUARIOS */
#users{
  display: flex;
  margin-top: 40px;
}
.user {
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  width: 320px;
  box-sizing: border-box;
  padding: 20px 30px 30px;
  border-radius: 30px;
  background-color: #ebebeb;
  margin-right: 30px;
  box-shadow: 1px 1px 5px 2px #00000074;
}
.user h2 {
  font-family: Calibri;
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
.user .image {
  display: flex;
  justify-content: center;
  border-top: 3px solid #000000;
  padding: 20px 0;
}
.user img {
  width: 50%;
  border-radius: 50%;
  border: 7px solid #2b2b2b;
}
.user .userData{
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS';
  font-size: 1.2rem;
}
.user .text {
  margin-bottom: 15px;
  text-align: left;
}
.user .otherData {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.nonExist {
  text-align: center;
  color: #2b2b2b;
  font: bold 1.5rem Calibri;
  margin-top: 20px;
}


/* modo oscuro */
/* desactivado */
.darkModeButton {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px 15px;
  background-color: #636363;
}
.switchButton {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: #636363;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}
.switchSlider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}
.switchSlider img {
  width: 100%;
}

/* activado */
.darkMode .switchButton .switchSlider {
  transform: translateX(40px);
}
.darkMode .switchButton {
  background-color: #333;
}
body.darkMode {
  background-color: #141424;
}
.darkMode header {
  background-color: #040716;
  border-bottom: 3px solid #040716;
}
.darkMode h1 {
  color: #ffffff;
}
.darkMode .darkModeButton {
  background-color: #353b56;
}
.darkMode .switchButton .switchSlider {
  transform: translateX(40px);
}
.darkMode #search {
  border: 3px solid #ffffff;
}
.darkMode input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #e2e2e2ad;
}
.darkMode .user {
  background-color: #222239;
  color: #ffffff;
}
.darkMode .user .image {
  border-top: 3px solid #ffffff;
}
.darkMode .user img {
  border: 7px solid #151524;
}
.darkMode .nonExist {
  color: #ffffff;
}
.darkMode #loader.loading div {
  border-color: #fff transparent transparent transparent;
}
